.root {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  padding: 10px;
  margin-top: 95px;
  flex-wrap: wrap;
}

.subheading {
  flex: 1 1 100%;
  margin: 10px 0;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: auto;
}

@media (min-width: 768px) {
  .subheading {
    flex: 1 1 auto;
    margin: 0 10px;
    height: 50rem;
  }
}
